.btn-round {
  display: inline-block;
  padding: 15px 20px 16px 20px;
  box-sizing: border-box;
  vertical-align: middle;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: $blue-dark;
  background-color: transperent;
  border: 3px solid $blue-dark;
  border-radius: 30px;
  cursor: pointer;

  &:disabled {
    background-color: rgba($grey, 0.1);
    color: $white;
  }
}

.btn-round--download {
  color: $white;
  border: 3px solid $white;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba($pink, 0.3);
    background-color: $white;
  }
}

.btn-round--upload {
  color: $pink;
  border: 3px solid $pink;

  &:hover {
    color: $white;
    background-color: $pink;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $pink;
  }
}

.btn-round--reset {
  color: rgba($blue-dark, 0.1);
  border: 3px solid rgba($blue-dark, 0.1);

  &:hover {
    color: rgba($blue-dark, 0.3);
    border-color: rgba($blue-dark, 0.3);
  }

  &:active {
    color: rgba($white, 0.3);
    border-color: transparent;
    background-color: rgba($blue-dark, 0.3);
  }
}

.btn-round---disabled {
  background-color: rgba($grey, 0.1);
  color: $white;
}


@media (min-width: $desktop-width) {
  .btn-round {
    font-size: 21px;
  }
}
