.checkbox__value {
  @include hidden;
}

.checkbox__label {
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid $grey;
    background-color: $white;
  }

  &:hover::before {
    border: 2px solid $blue-dark;
  }

  &:active::before {
    border: 2px solid $pink;
  }
}

.checkbox__value:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  min-width: 20px;
  max-width: 21px;
  min-height: 9px;
  max-height: 10px;
  border-bottom: 2px solid $pink;
  border-left: 2px solid $pink;
  transform: rotate(-45deg);
}

.checkbox__value:focus + .checkbox__label::before {
  box-shadow: 0 0 4px 0 $pink;
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    padding-left: 58px;
  }
}
