.contest {
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.contest__wrapper {
  position: relative;
  margin: 10px 0;
  padding: 0 $gap-mobile;
  text-align: left;
  border-style: none;
}

.contest__wrapper--user {
  padding-bottom: 15px;
}

.contest__wrapper--progress,
.contest__wrapper--application {
  padding-top: 38px;
  padding-bottom: 46px;
  background-color: $grey-light;
}

.contest__wrapper--contacts {
  margin-top: 18px;
  margin-bottom: 25px;
}

.contest__progress-list {
  @include list-reset;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
}

.contest__progress-item {
  margin: 0;
  padding: 0;
  margin-top: 52px;
}

.contest__label {
  display: block;
  margin-bottom: 5px;
  margin-left: 22px;
  text-transform: uppercase;
  color: $pink;
  line-height: 30px;
}

.contest__label--center,
.contest__label--comment {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.contest__legend {
  position: absolute;
  left: 0;
  padding: 0 40px;
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  line-height: 18px;
}

.contest__legend--contacts {
  display: none;
}

.contest__required-text {
  margin: 35px 0 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}

.contest__required-label {
  color: $pink;
}

.contest__application-list {
  @include list-reset;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
}

.contest__application-item {
  margin: 0;
  padding: 0;
  margin-top: 46px;
}

.contest__wrapper--comment {
  margin-top: 18px;
}

.contest__wrapper--send {
  margin: 0;
  padding: 0;
}

.contest__input {
  margin-bottom: 3px;
}

.contest__comment-text {
  margin-top: 10px;
  margin-bottom: 18px;
  height: 201px;
  resize: none;
}

.contest__btn-wrapper {
  margin: 0;
  padding: 0 20px;
}

.contest__btn-submit {
  width: 100%;
  box-sizing: border-box;
}

.contest__required-hidden {
  display: none;
}

.contest__modal-error {
  position: absolute;
  top: 775px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.contest__modal-message {
  position: absolute;
  bottom: 450px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.contest__modal-text-newline {
  display: block;
}

@media (min-width: $tablet-width) {
  .contest {
    display: flex;
    flex-wrap: wrap;
  }

  .contest__wrapper {
    width: 100%;
  }

  .contest__wrapper--user {
    order: 0;
    padding-top: 15px;
  }

  .contest__wrapper--application {
    @include app-style;
    order: 1;
    padding: 0 60px 58px;
  }

  .contest__application-list {
    padding-top: 0;
  }

  .contest__wrapper--contacts {
    @include app-style;
    order: 2;
    padding: 20px 58px 0;
  }

  .contest__wrapper--progress {
    @include app-style;
    order: 3;
    padding: 0 60px 54px;
  }

  .contest__progress-list {
    padding-top: 0;
  }

  .contest__progress-item {
    margin: 51px 0 0;
  }

  .contest__wrapper--comment {
    @include app-style;
    order: 3;
    margin-top: 34px;
    padding-right: 58px;
    padding-left: 58px;
  }

  .contest__wrapper--send {
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px $gap-table;
    margin-bottom: 10px;
  }

  .contest__user-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0 0;
    padding: 44px 0 0;
  }

  .contest__label {
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }

  .contest__label--tel,
  .contest__label--email {
    position: relative;
    margin: 8px 0 12px 20px;

    &::after {
      content: "";
      position: absolute;
      top: -72px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: $grey;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contest__label--tel {
    &::after {
      background-image: url("../img/icon-phone.svg");
    }
  }

  .contest__label--email {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .contest__label--comment {
    width: 185px;
    margin: -30px auto 0;
    padding: 0 36px;
    box-sizing: content-box;
    background: $white;
  }

  .contest__legend {
    position: static;
    padding-right: 25px;
    padding-left: 25px;
  }

  .contest__legend--contacts {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
  }

  .contest__legend--progress {
    padding-right: 30px;
    padding-left: 30px;
  }

  .contest__contacts-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .contest__comment-text {
    margin-top: 31px;
    margin-bottom: 30px;
    height: 193px;
    resize: none;
  }

  .contest__btn-wrapper {
    margin: 0;
    padding: 0;
  }

  .contest__btn-submit {
    width: 300px;
  }

  .contest__required-text {
    margin: 0;
    padding: 0;
  }

  .contest__modal-error {
    top: 290px;
  }

  .contest__modal-message {
    top: 765px;
    bottom: auto;
  }

  .contest__modal-title-newline {
    display: block;
  }

  .contest__modal-text-newline {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    margin: 35px 0 0;
    font-size: 14px;
    line-height: 30px;
  }

  .contest__wrapper {
    margin: 0;
  }

  .contest__wrapper--user {
    width: 435px;
    margin: 0;
    margin-right: 70px;
    padding: 0;
  }

  .contest__wrapper--application {
    width: 435px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 37px;
    padding: 3px 10px 0 74px;
  }

  .contest__legend--application {
    width: 330px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .contest__wrapper--contacts {
    margin: 0;
    margin-top: 55px;
    padding: 37px 58px 0;
  }

  .contest__wrapper--progress {
    margin: 55px 0 0;
    padding-bottom: 60px;
  }

  .contest__wrapper--comment {
    margin: 64px 0 0;
  }

  .contest__wrapper--send {
    margin-top: 66px;
    padding: 0;
  }

  .contest__contacts-wrapper-col {
    display: flex;
    justify-content: space-between;
  }

  .contest__contacts-wrapper {
    width: 375px;
    margin: 0;
    padding: 0;
  }

  .contest__progress-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__comment-text {
    margin-top: 28px;
    margin-bottom: 19px;
    height: 128px;
  }

  .contest__required-hidden {
    display: inline;
  }

  .contest__modal-title-newline {
    display: inline;
  }
}
