.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.menu--active {
  display: flex;
  background-color: $blue-dark;
}

.menu__item {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid rgba($white, 0.15);
  border-bottom: 1px solid $black;

  &:nth-child(1) {
    position: relative;
    margin-top: 4px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }
}

.menu__link {
  margin: 0;
  padding: 27px 5px;
  font: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .menu__item {
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 625px;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .menu__item {
    width: auto;
    border-style: none;
    margin: 0;
    padding: 0;

    &:nth-child(1) {
      box-shadow: none;
    }

    &:nth-child(1)::before {
      display: none;
    }
  }

  .menu__link {
    text-transform: none;
    font-weight: 300;

    &:active {
      color: rgba($white, 0.3);
    }
  }

  .menu__link--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 4px;
      height: 2px;
      width: calc(100% - 8px);
      background-color: $white;
    }

    &:hover::after {
      background-color: $pink;
    }

    &:active::after {
      background-color: rgba($white, 0.3);
    }
  }
}
