.page__container {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0 $gap-mobile;
  box-sizing: border-box;
}

.page__container--full {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.page__container--intro {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.page__container--contest {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page__container {
    max-width: $tablet-width;
    padding: 0 $gap-tablet;
  }

  .page__container--intro {
    max-width: $tablet-width;
    margin: 0 auto;
    padding: 0;
  }

  .page__container--full {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .page__container--contest {
    max-width: $tablet-width;
    margin: 0 auto;
    padding: 0;
  }
}


@media (min-width: $desktop-width) {
  .page__container {
    max-width: $desktop-width;
    padding: 0 $gap-desktop;
  }

  .page__container--intro {
    max-width: $desktop-width;
    padding: 0;
  }

  .page__container--full,
  .page__container--contest {
    margin: 0 auto;
  }

  .container--none {
    margin: 0;
    padding: 0;
  }
}
