.page-footer {
  padding: 40px 0 39px;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__logo-link {
  display: block;
  height: 100%;
  color: $blue-dark;

  &:hover {
    color: $pink;
  }

  &:active {
    color: rgba($blue-dark, 0.3);
  }
}

.page-footer__social {
  padding: 36px 0 26px;
}

.page-footer__developer {
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-footer__logo-image--mobile {
  display: inline-block;
}

.page-footer__logo-image--desktop {
  display: none;
}
