.page-main {
  position: relative;
  padding-top: 65px;
  color: $blue-dark;
  background-color: $white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.page-main--index {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: top 176px left calc(50% - 30px), top center;
  background-repeat: no-repeat, no-repeat;
  background-size: 258px, 320px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 176px left, top center;
    background-size: 258px, contain;
  }
}

.page-main__title {
  @include title-mobile;
  margin: 0;
  padding: 30px 0;
  color: $white;
  text-align: center;
}

.page-main__title--index {
  padding-top: 19px;
  padding-bottom: 22px;
}

.page-main__title--contest {
  padding-bottom: 0;
}

.page-main__text {
  padding: 23px 0;
  line-height: 30px;
  text-align: center;
}

.page-main__title--photo,
.page-main__title--contest {
  margin-bottom: 51px;
}

.page-main__text--photo {
  padding: 45px 15px 10px;
}

.page-main__text--contest {
  padding: 45px 0 6px;
}

.page-main__text--form-title {
  display: none;
}

.page-main__intro {
  margin: 0;
  margin-top: 295px;
  padding: 0;
}

.page-main__wrapper {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.page-main__photos {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.page-main__constructor {
  margin: 19px 0 0;
  padding: 20px 0 40px;
}

.page-main__information {
  margin: 0;
  padding: 30px 0;
}

.page-main__reviews {
  margin: 0;
  padding: 0;
}

.page-main__prices {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 10px;
}

.page-main__contacts {
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.page-main__contest {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 178px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 728px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: top center;
    }
  }

  .page-main--index {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: top 209px right, top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px auto, auto 728px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-main__title {
    @include title-table;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    text-align: center;
  }

  .page-main__title--index {
    width: 245px;
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 0;
    line-height: 48px;
    box-sizing: border-box;
  }

  .page-main__title--photo {
    margin-bottom: 67px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-main__title--contest {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px;
  }

  .page-main__intro {
    width: 340px;
    margin-top: 31px;
    margin-bottom: 110px;
  }

  .page-main__text {
    padding: 28px $gap-tablet + 10px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
  }

  .page-main__text--photo {
    padding-top: 90px;
    padding-bottom: 35px;
  }

  .page-main__text--contest {
    margin-top: 7px;
    margin-bottom: 0;
    padding: 90px 30px 0;
  }

  .page-main__text--form-title {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .page-main__information {
    padding-top: 47px;
  }

  .page-main__prices {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 70px;
  }

  .page-main__contacts {
    margin-top: 45px;
  }

  .page-main__wrapper {
    margin-top: 0;
  }

  .page-main__constructor {
    margin-top: 40px;
    padding: 57px 0 54px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 854px;
  }

  .page-main--index {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: top 209px calc(50% + 50px), top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 1050px auto, auto 854px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    }

    @media (min-width: 1200px) {
      background-position: top 209px right 3%, top center;
    }

    @media (min-width: 1440px) {
      background-position: top 209px left 60%, top center;
    }
  }

  .page-main__title {
    @include title-desktop;
  }

  .page-main__title--index {
    margin-top: 40px;
    margin-left: 25px;
  }

  .page-main__title--photo {
    width: 655px;
    margin: 0 auto;
  }

  .page-main__title--contest {
    width: 900px;
    margin: 0 auto;
  }

  .page-main__text {
    width: 640px;
    margin: 0 auto;
  }

  .page-main__text--photo {
    padding-bottom: 53px;
  }

  .page-main__text--contest {
    width: 780px;
  }

  .page-main__text--form-title {
    display: inline;
  }

  .page-main__text-newline {
    display: block;
  }

  .page-main__intro {
    width: 320px;
    margin-top: 53px;
    margin-bottom: 115px;
  }

  .page-main__information {
    padding-top: 70px;
  }

  .page-main__prices {
    margin: 10px 0 0;
    padding: 8px 0 97px;
  }

  .page-main__contacts {
    margin-top: 63px;
  }

  .page-main__constructor {
    margin: 37px auto 28px;
    padding-bottom: 57px;
  }

  .page-main__wrapper {
    margin-top: 22px;
  }

  .page-main__photos {
    padding-top: 36px;
  }
}
