.radio__value {
  @include hidden;
}

.radio__label {
  position: relative;
  padding-left: 70px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: solid 2px $grey;
    border-radius: 50%;
    background-color: $white;
  }

  &:hover::before {
    border: 2px solid $blue-dark;
  }

  &:active::before {
    border: 2px solid $pink;
  }
}

.radio__value:checked + .radio__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $pink;
}

.radio__value:focus + .radio__label::before {
  box-shadow: 0 0 0 4px $pink;
}

@media (min-width: $tablet-width) {
  .radio__label {
    padding-left: 58px;
  }
}
