.review {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center;
}

.review__author {
  @include subtitle-mobile;
}

.review__author-info {
  display: none;
}

.review__text {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .review {
    display: flex;
    flex-direction: column-reverse;
  }

  .review__author {
    font-size: 20px;
  }

  .review__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }

  .review__text {
    margin-top: 0;
    margin-bottom: 36px;
    padding: 0;
    font-size: 18px;
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .review__author {
    font-size: 24px;
    line-height: 30px;
  }

  .review__author-info {
    font-size: 18px;
  }

  .review__text {
    max-width: $tablet-width + 30px;
  }
}
