.slider {
  width: 100%;
  box-sizing: border-box;
}

.slider__list {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 29px;
}

.slider__item {
  display: none;
  margin: 0;
  padding: 0;
}

.slider__item--active {
  display: block;
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 29px 0 38px;
  padding: 0;
}

.slider__toggle {
  width: 13px;
  height: 13px;
  margin: 0 6px;
  padding: 0;
  background-color: rgba($blue-dark, 0.3);
  border: 3px solid $white;
  border-radius: 50%;

  &:hover {
    background-color: rgba($blue-dark, 0.6);
  }

  &:active {
    background-color: rgba($blue-dark, 0.1);
  }
}

.slider__toggle--active {
  opacity: 1;
  border: 3px solid $blue-dark;
  background-color: $white;
}

.slider__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    margin: 34px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider__controls {
    display: none;
  }

  .slider__btn {
    display: block;
    min-width: 30px;
    min-height: 30px;
    max-width: 31px;
    max-height: 31px;
    margin: 0;
    margin-top: 96px;
    margin-right: -3px;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
    background-color: $white;
    border: none;
    transform: rotate(45deg);

    &:hover {
      outline: none;
      border-color: rgba($blue-dark, 0.6);
    }

    &:active {
      border-color: rgba($blue-dark, 0.1);
    }
  }

  .slider__btn--left {
    border-bottom: 2px solid $grey-light;
    border-left: 2px solid $grey-light;
  }

  .slider__btn--right {
    border-top: 2px solid $grey-light;
    border-right: 2px solid $grey-light;
  }

  .slider__list {
    position: relative;
    width: 690px;
    padding-top: 150px;

    &::before {
      content: "";
      position: absolute;
      top: 39px;
      right: 50%;
      width: 80px;
      height: 65px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(50%);
    }
  }
}
