$white: #ffffff;
$white-dark: #fefefe;
$black: #000000;
$blue-dark: #283645;
$blue-darkest: #1d2631;
$grey-light: #f2f2f2;
$grey: #e5e5e5;
$grey-darker: #dddfe0;
$pink: #d22856;
$red: #f25b26;
$green-light: #3dc644;
$green: #2aab6d;
$green-darker: #1c9b5e;

$font-color: $blue-dark;
$bg--body: $white;
$link-color: $pink;
$link-color--hover: $black;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$gap-mobile: 20px;
$gap-tablet: 20px;
$gap-table: 20px;
$gap-desktop: 10px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
